<%-include('components/header')%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <a class="navbar-brand" href="/"><%=title%></a>
</nav>

<main class="container-lg">
  <%-include('components/form')%>
  
  <div >
    <label for="width" class="my-0">WIDTH:</label>
    <input type="number" id="width" class="form-control mx-2 my-0" v-model="width" style="width: 120px;" placeholder="Number">
    <label for="md" class="mx-2 my-0">Markdown:</label>
    <input type="checkbox" id="isMd" class="my-0" v-model="isMd">
  </div>
  
  <div class="row mx-0">
    <%for(let link of links){%>
      <div class="photo-card col-6 col-md-4 col-lg-3 px-0">
        <div class="img-box">
           <img src="<%=link%>=w240">
        </div>
        <div class="form-row">
          <div class="col pr-0">
            <input type="text" class="form-control copy-val" value="<%=link%>" id="<%=link%>">
          </div>
          <div class="col-auto pl-0">
            <button class="btn btn-outline-dark copy-btn" onclick="copy('<%=link%>')">Copy!</button>
          </div>
        </div>
      </div>
    <%}%>
  </div>
</main>


<%-include('components/footer')%>