<%-include('components/header')%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <a class="navbar-brand" href="/"><%=title%></a>
</nav>

<main class="container-lg">
  <%-include('components/form')%>
  <div class="row px-2">
    <%for(let link of links){%>
      <div class="photo-card col-6 col-md-4 col-lg-3 px-0">
        <div class="img-box">
           <img src="<%=link%>=w240">
        </div>
        <input type="text" class="form-control" value="<%=link%>">
      </div>
    <%}%>
  </div>
</main>

<style>
  .photo-card {
    border: 1px solid #000;
  }
  .img-box {
    width: 100%;
  }
  .img-box::before {
    content: "";
    width: 3200px;
  }
</style>


<%-include('components/footer')%>